
@font-face {
	font-family: 'irex';
	src: url('../font/sade.eot');
	src: local('☺'), url('../font/sade.woff') format('woff'), url('../font/sade.ttf') format('truetype'), url('../font/sade.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
{
	direction:rtl;
	margin:0;
	padding:0;
	background:url('../image/panel.jpg') top repeat-x #fff;
	font-family:'irex', tahoma;
}
a
{
	text-decoration:none;
}
.clear
{
	clear:both;
}
.header
{
}
.header_content
{
	width:900px;
	margin:10px auto;
}
.logo
{
	float:right;
}
.navbar
{
	float:left;
	padding-top:47px;
}
.navbar a
{
	text-align:center;
	margin-right:10px;
}
.content
{
	width:900px;
	margin:40px auto;
}
.right_content
{
	float:right;
	width:150px;
}
.right_content ul
{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
}
.right_content li
{
	background:#fff;
	margin-bottom:10px;
	padding:5px;
}
.right_content li
{
	background:#3e56a6;
}
.right_content a
{
	color:#fff;
	font-size:25px;
}
.left_content
{
	float:left;
	background:#eee;
	width:700px;
	padding:10px;
	font-size:20px;
}
.left_content h2
{
	padding:0;
	margin:0;
	border-bottom:1px solid #000;
	font-weight:normal;
	font-style:normal;
}
.left_content p
{
	line-height:40px;
	text-align:justify;
	margin:0px;
}
.panel_form
{
	margin:20px 0px;
}
.panel_form td:nth-child(odd)
{
	width:100px;
}
.panel_form td:nth-child(even)
{
	width:300px;
}
.panel_form td
{
	padding:5px;
}
.panel_form input
{
	font-size:20px;
	font-family:'irex', tahoma;
	width:96%;
	outline:none;
	border:1px solid #555;
	padding:4px;
}
.panel_form select
{
	font-size:20px;
	font-family:'irex', tahoma;
	width:100%;
	outline:none;
	border:1px solid #555;
}
.birth_item
{
	width:32.3% !important;
}
.lesson_item, .job_item
{
	width:48.9% !important;
}
.panel_form textarea
{
	font-size:20px;
	font-family:'irex', tahoma;
	width:98%;
	outline:none;
	border:1px solid #555;
	height:200px;
	resize:none;
}
.panel_form input[type="submit"]
{
	cursor:pointer;
	width:50%;
	float:left;
}
.retrive_data_table
{
	border:1px solid #000;
}
.retrive_data_table tr:nth-child(1)
{
	background:#000;
	color:#fff;
	text-align:center;
}
.retrive_data_table td
{
	border:1px solid #000;
}
.retrive_data_table a
{
	color:#f00;
	font-size:12px;
}
.image_upload_table
{
}
.image_upload_table input[type="file"]
{
	font-size:15px !important;
	font-family:'irex', tahoma;
	width:100% !important;
	border:none !important;
	outline:none;
	padding:0px !important;
}
.footer
{
	width:900px;
	border-top:1px solid #000;
	font-size:20px;
	margin:0 auto;
}