
@font-face {
	font-family: 'irex';
	src: url('../font/sade.eot');
	src: local('☺'), url('../font/sade.woff') format('woff'), url('../font/sade.ttf') format('truetype'), url('../font/sade.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
{
	direction:rtl;
	margin:0;
	padding:0;
	background:#fafafa;
	font-family:'irex', tahoma;
}
a
{
	text-decoration:none;
}
.clear
{
	clear:both;
}
.header
{
	background:#3e56a6;
}
.note
{
	margin:0 auto;
}
.note a
{
	color:#fff;
}
.intero
{
	margin:30px auto;
}
.intero_section1 img
{
	border:1px solid #aaa;
	padding:3px;
}
.social
{
	text-align:center;
}
.social a
{
	color:#000;
	margin:0px 3px;
}
.intero_section2
{
	font-size:20px;
	line-height:10px;
}
.intero_section2 a
{
	color:#000;
	cursor:pointer;
	word-wrap:break-word;
}
.content
{
	margin:0 auto;
}
.content_item
{
	border-top:2px solid #3e56a6;
	margin-top:50px;
}
.content_item_right h3
{
	background:#3e56a6;
	color:#fff;
	margin:0;
	margin-right:5px !important;
	padding:0;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	text-align:center;
	font-style:normal;
	font-weight:normal;
}
.content_item_left
{
	padding-top:30px;
	font-size:20px;
	text-align:justify;
}
.content_item_left h2
{
	color:#3e56a6;
	display:inline;
	margin:0;
	padding:0;
}
.content_item_left p
{
	padding:0;
	margin:0;
	text-align:justify;
}
.message_box input
{
	font-size:20px;
	font-family:'irex', tahoma;
	width:50%;
	outline:none;
	border-right:5px solid #555 !important;
	border:1px solid #555;
	padding:4px;
	margin:5px;
}
.message_box textarea
{
	font-size:20px;
	font-family:'irex', tahoma;
	width:90%;
	outline:none;
	border-right:5px solid #555 !important;
	border:1px solid #555;
	height:200px;
	resize:none;
	margin:5px;
}
.message_box img
{
	display:block;
	margin:5px;
}
.message_box input[type="submit"]
{
	border:1px solid #555 !important;
	cursor:pointer;
	width:20%;
	margin-left:40px;
}
.report_profile
{
	display:inline;
	font-size:15px;
}
.report_profile a
{
	color:#f00;
}
.report_profile span
{
	margin-left:10px;
}
.footer
{
	margin:50px auto 0px auto;
	border-top:2px solid #3e56a6;
	font-size:20px;
}
.footer_left
{
	direction:ltr;
}

/* Responsive */
@media (min-width: 951px)
{
	.note, .intero, .content, .footer
	{
		width:900px;
	}
	.intero_section1
	{
		width:210px;
	}
	.intero_section1 img
	{
		width:200px;
		height:300px;
	}
	.intero_section2
	{
		width:585px;
	}
	.content_item_right
	{
		width:200px;
	}
	.content_item_left
	{
		width:590px;
	}
	.intero_section1, .content_item_right, .footer_right
	{
		float:right;
	}
	.note a, .intero_section2, .content_item_left, .message_box input[type="submit"]
	{
		float:left;
	}
}

@media (min-width: 768px) and (max-width: 950px)
{
	.note, .intero, .content, .footer
	{
		width:700px;
	}
	.intero_section1
	{
		width:210px;
	}
	.intero_section1 img
	{
		width:200px;
		height:300px;
	}
	.intero_section2
	{
		width:450px;
	}
	.content_item_right
	{
		width:150px;
	}
	.content_item_left
	{
		width:500px;
	}
	.intero_section1, .content_item_right, .footer_right
	{
		float:right;
	}
	.note a, .intero_section2, .content_item_left, .message_box input[type="submit"]
	{
		float:left;
	}
}

@media (min-width: 481px) and (max-width: 767px)
{
	.note, .intero, .content, .footer
	{
		width:450px;
	}
	.intero_section1, .intero_section2, .content_item_right, .content_item_left
	{
		width:100%;
	}
	.intero_section1 img
	{
		width:200px;
		height:300px;
	}
	.intero_section1, .content_item_right, .footer_right, .note a, .intero_section2, .content_item_left
	{
		float:none;
	}
	.message_box input[type="submit"]
	{
		float:left;
	}
	.intero_section1, .intero_section2, .note, .footer
	{
		text-align:center;
	}
	.intero_section2, .content_item_left, .note
	{
		font-size:25px;
	}
	.content_item_right h3
	{
		margin:0px 70px !important;
	}
}

@media (max-width: 480px)
{
	.note, .intero, .content, .footer
	{
		width:230px;
	}
	.intero_section1, .intero_section2, .content_item_right, .content_item_left
	{
		width:95%;
	}
	.intero_section1 img
	{
		width:200px;
		height:300px;
	}
	.intero_section1, .content_item_right, .footer_right, .note a, .intero_section2, .content_item_left
	{
		float:none;
	}
	.message_box input
	{
		width:89%;
	}
	.message_box img
	{
		margin:0 auto;
	}
	.message_box input[type="submit"]
	{
		float:none;
		width:50%;
		margin-right:55px;
	}
	.intero_section1, .intero_section2, .note, .footer
	{
		text-align:center;
		line-height:35px;
	}
	.intero_section2, .content_item_left, .note
	{
		font-size:25px;
		padding-right:10px;
		padding-left:10px;
	}
	.content_item_right h3
	{
		margin:0px 30px !important;
		font-size:25px;
	}
}